.main{
    height: 100vh;
}

.fundoo{
    color:red;
}

.create{
    color:blue;
}

.signin{
    color:royalblue;
}
@media only screen and (max-width: 600px) {
.email{
    width:87%;
}
.mobile{
    width:87%;
}
}

















// .main{
//     height: 100vh;
// }

// .fundoo{
//     color:red;
// }

// .create{
//     color:blue;
// }

// .signin{
//     color:royalblue;
// }