
  <div class="mininote" fxLayout="column wrap" [style.backgroundColor]="color" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="start start" class="title">
      <input matInput [formControl] = "title">
    </div>
    <div>
      <textarea class="textArea" matTextareaAutosize [formControl] = "description" class="textArea"></textarea>
    </div>
    <div class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let label of labelOfNote" [selectable]="selectable"
        [removable]="removable" (removed)="remove(label)">
        {{label.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="icons-div" fxLayout="row" fxLayoutAlign="space-between end" >
      <app-icon-list fxLayout="row" [card]="data" (colorchange)="changeOfColor($event)">
      </app-icon-list>
      <button class="updatenote" mat-button (click)="save()">close</button>
    </div>
  </div>