
  <div class="mininote" fxLayout="column wrap" [style.backgroundColor]="color" fxLayoutAlign="start start" fxLayoutGap="10px">

    <!-- <div *ngFor="let items of cardsArray" class="card"> -->
    <!-- <div *ngFor="let items of card" class="card"> -->
    <!-- <div class="card"> -->
    <!-- <div *ngIf="items.archive==false && items.trash==false"> -->
    <!-- <div class="minicard" > -->
    <!-- [style.backgroundColor]="items.color"> -->
    <div fxLayout="row" fxLayoutAlign="start start" class="title">
      <input matInput [formControl] = "title">
    </div>
    
    <div>
      <textarea class="textArea" matTextareaAutosize [formControl] = "description" class="textArea"></textarea>
    </div>


    <div class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let label of labelOfNote" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(label)">
          {{label.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    
    <!-- <span #fontSize value="16px"></span>
                  <div [style.fontSize]="fontSize.value">
                    {{items.title}}
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"></textarea>
                  </div> -->


    <!-- <span (click)="getNoteId(items)">{{items.title}}</span> -->
    <!-- <button mat-icon-button color="basic" (click)="pinned(items)" fxLayoutAlign="end start">
                    <div class="barpin" *ngIf="flag1==false">
                      <img src="../../../assets/barpin.svg">
                    </div>
                    <div class="pin" *ngIf="flage1==true">
                      <img src="../../../assets/pin.svg">
                    </div>
                </button> -->

    <!-- <div fxLayout="row" fxLayoutAlign="end start">
                <button mat-icon-button></button>
              </div> -->

    <!-- <div>{{data.description}}</div> -->
    <div class="icons-div" fxLayout="row" fxLayoutAlign="space-between end" >
      <app-icon-list fxLayout="row" [card]="data" (colorchange)="changeOfColor($event)">
      </app-icon-list>
      <button class="updatenote" mat-button (click)="save()">close</button>
    </div>

  </div>



<!-- </div> -->