// .minicard{
//     margin-bottom: 24px
// }
.mininote{
    display: flex;
min-width: 406px;
padding: 20px;
}
// .display{
//     justify-content:center;
// }
.textArea{
    background-color: transparent;
    border: none;
}

::ng-deep .mat-dialog-container{
    padding:0px; 
}

.example-chip-list {
    width: 100%;
}