.minicard{
    margin-bottom: 24px
}
.mininote{
    display: flex;
    flex-direction: row;
   margin-top: 3%
}
.display{
    justify-content:center;
}

.title{
    margin-bottom: 5%;
}

.example-chip-list {
    width: 70%;
}