<h5 mat-dialog-title class="editlabel">Edit labels</h5>

<div mat-dialog-content fxLayout="row" fxLayoutAlign="center center">

  <div>
    <button mat-icon-button (click)=create()>
      <mat-icon class="create">clear</mat-icon>
    </button>
  </div>
  <div>
    <input matInput placeholder="Create new label" [formControl]="name">
  </div>
  <div>
    <button mat-icon-button (click)=create()>
      <mat-icon class="create">done</mat-icon>
    </button>
  </div>
  <!-- <button mat-icon-button>
    <mat-icon class="create" matTooltip="create label">done</mat-icon>
  </button> -->
</div>
<div *ngFor="let item of label" class="card" >
  <div class="label-content" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
      <div class="label">
          <button mat-icon-button>
            <mat-icon class="create">label</mat-icon>
          </button>
      </div>
      <div class="delete">
          <button mat-icon-button (click)=delete(item.labelId)>
            <mat-icon class="create">delete</mat-icon>
          </button>
      </div>
  </div>
  
  <div>
    <input matInput value={{item.name}} [formControl] = "newName">
    <!-- <input matInput [formControl] = {{item.name}}> -->
  </div>
  <div class="edit">
    <button mat-icon-button (click)=update(item.labelId)>
      <mat-icon class="create">edit</mat-icon>
    </button>
  </div>
</div>
</div>

<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial>Done</button>
</div>

<!-- <div mat-dialog-actions fxLayoutAlign="end end">
   <button mat-button (click)="onNoClick()">No Thanks</button> 
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Done</button>
</div> -->