<h3>Collaborators</h3>
<mat-divider></mat-divider>
<br>
<div fxLayoutGap="3%" fxLayout="row">
    <button mat-icon-button>
        <img mat-card-avatar src="http://localhost:8080/getImage/{{token}}" />
        <!-- <img mat-card-avatar src="data.user.profileImage" /> -->
    </button>
    <div fxLayout="column">
            <B><span class="name">{{data.user.firstName}}&nbsp;{{data.user.lastName}}</span></B>
            <span class="email">{{email}}</span>
    </div>
</div>
<br>
<div *ngFor="let collaborator of collaborators">
    <div fxLayoutGap="3%" fxLayout="row">

         <!-- <img mat-card-avtar src="collaborator.profileImage" /> -->
        <!-- <button mat-icon-button>
            <img mat-card-avatar src="http://localhost:8080/getImage/{{token}}" />
           
        </button> -->
        <button mat-mini-fab matTooltip="items.collaborator.email" color="primary">
                <!-- <img mat-card-avatar src="http://localhost:8080/getImage/{{token}}" /> -->
            <mat-icon>account_circle</mat-icon>
        </button>

        <!-- <button mat-icon-button> -->
            <!-- <img mat-card-avatar src="http://localhost:8080/getImage/{{token}}" />
            <mat-icon>account_circle</mat-icon>
        </button> -->

        <div fxFlex = 90 fxLayout="column">
            <B><span>{{collaborator.firstName}}&nbsp;{{collaborator.lastName}}</span></B>
            <span class="email">{{collaborator.email}}</span>
        </div>
        <button mat-icon-button (click)=remove(collaborator.email)>
            <mat-icon class="create">clear</mat-icon>
        </button>
    </div>
</div>
<br>
<div class="example-full-width" fxLayoutGap="3%" fxLayout="row">
    <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
        <!-- <img mat-card-avatar src="http://localhost:8080/getImage/{{token}}" /> -->
                <!-- <img mat-card-avtar src="collaborator.profileImage" /> -->
    </button>
    <input matInput placeholder="email to share with" [(ngModel)]="email1">
    <button mat-icon-button (click)=create(email1)>
        <mat-icon class="create">done</mat-icon>
    </button>
</div>
<br>
<mat-divider></mat-divider>
<br>
<!-- <mat-footer fxLayout="row" fxLayoutAlign="end end"> -->
<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="5%">
    <button mat-raised-button (click)="onNoClick()" class="cancle">Cancle</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    <!-- <button mat-raised-button class="save">Save</button> -->
</div>

<!-- </mat-footer> -->