// .date{
//     margin-left: 1%;
// }
.q{
    width: 280px;
}

.colors{
    width: 32px;
    height: 32px;
}

.icon{
    width:20px;
}

.para{
    margin-left: 15px;
}

/deep/ .mat-menu-content{
    width: 160px;
}