.title{
    color:red;
    word-break: break-all;
}
.subtitle{
    color:royalblue;
    word-break: break-all;
}
.back{
    color:blue;
}

@media only screen and (max-width: 600px) { 
.card{
    height: -webkit-fill-available;
    width: 100%;
}
}

.email{
    width:75%;
}


.forget{
    height: -webkit-fill-available;
}












// .title{
//     color:red;
// }
// .subtitle{
//     color:royalblue;
// }
// .back{
//     color:blue;
// }
// .card{
//     margin-top: 100px
// }