<div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100" >
  <mat-card class="card" fxLayoutAlign="center center" fxFlex="30" >
    <div>
      <div fxLayout="column">
        <mat-card-header>
          <mat-card-title class="title" fxLayoutAlign="center center" >
            <h2>Fundoo</h2>
          </mat-card-title>
          <mat-card-subtitle class="subtitle" fxLayoutAlign="center center" >
            <h3>Find your Fundoo account</h3>
          </mat-card-subtitle>
        </mat-card-header>
      </div>
        <div  fxLayoutAlign="center center">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" [formControl]="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>
      <div class = 'submit' fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="forgetPassword()">Submit</button>
      </div>
      <div class = 'back' fxLayoutAlign="center center">
        <a mat-button routerLink="/login">back</a>
      </div>
    </div>
  </mat-card>
  </div>









  <!-- <div class = "card" fxLayout="coloum" fxLayoutAlign="center center" fxFlex="100">
<mat-card fxFlex="80" fxLayoutAlign="center center" >
  <mat-card-header>
    <mat-card-title class="title" fxLayoutAlign="center center" >
      <h2>Fundoo</h2>
    </mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center center" >
      <h3>Find your Fundoo account</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <div fxLayout="column" fxLayoutAlign="center center" >
    <mat-form-field appearance="outline" >
        <mat-label>email</mat-label>
        <input matInput placeholder="" [formControl]="email" required>
    </mat-form-field>
  </div> -->
  <!-- <div   fxFlex = "30" fxLayoutAlign="center center" >
  <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input matInput placeholder="" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
  <div>
        <button mat-raised-button color="primary" (click)="forgetPassword()">Submit</button>
  </div>
  <div class = 'back' fxLayoutAlign="center center">
        <a mat-button routerLink="/login">back</a>
  </div> -->
<!-- </mat-card>
</div> -->