.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }

  .list{
    width:2px;
  }

  .notes{
    padding-left: 20%;
  }

  .remainders{
    padding-left: 20%;
  }

  .labels{
    padding-left: 20%;
  }

  .archive{
    padding-left: 20%;
  }

  .trash{
    padding-left: 20%;
  }

  .navList{
    width: 250px;
  }

  #para{
    padding-left: 20px;
  }

  // .profileMenu{
  //   width: 10%;
  // }
  .name{
    padding-left: 10%;
  }

  .profile{
    width:90px;
    height:90px
  }

  .view{
    margin-top: 11px;
  }
  
  .signout{
    margin-right:10px;
  }

  // .q{
  //   max-width: 300px;
  //   margin-left: 35px;
  //   height : 184px;
  //   transform-origin: right top;
  //   width: 339px;
  // }
 

  // .email{
  //   margin-top: 35px;
  //   margin-left: 10px;
  // }