<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Toolbar Display -->

  <div fxLayout="row">
    <mat-toolbar class="example-toolbar">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" fxFlex="18">
        <div>
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>
          <img class="fundooImage" src="../../../assets/keep_48dp.png">
        </div>
        <!-- <div fxFlex="5" fxlayout.gt-xs="row" fxFlex.gt-xs="500" fxHide.xs> -->
        <div>
          <h5 class="example-app-name">{{titleName}}</h5>
          <h5 *ngIf="titleName == null">Fundoo</h5>
        </div>
      </div>
      <div fxFlex="52">
        <mat-form-field appearance="outline" class="search" [style.fontSize.px]="2" fxFlex="100">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <input fxFlex="90" type="input" matInput placeholder="Search" [style.fontSize.px]="18" class="searchText"
            autocomplete="off">
          <!-- /*[(ngModel)]="Search"*/ -->
        </mat-form-field>
      </div>
      <div class="settingbtn" fxFlex="25" fxLayout="row" fxLayoutAlign="center none">
        <!-- <div>
          <button mat-icon-button color="basic" id="refresh" fxHide.xs matTooltip="refresh">
            <mat-icon>refresh</mat-icon>
          </button>
        </div> -->
        <!-- <div fxFlex="70"> -->
          <button mat-icon-button color="basic" class="view" (click)="change()" (click)="grid()" >
            <div class="grid_view" *ngIf="isClicked == false">
              <mat-icon matTooltip="Grid view">border_all</mat-icon>
            </div>
            <div class="list_view" *ngIf="isClicked == true">
              <mat-icon matTooltip="List view">view_agenda</mat-icon>
            </div>
          </button>
        <!-- </div> -->
        <!-- <div>
          <div class="settings">
            <button mat-icon-button [matMenuTriggerFor]="menu" color="basic" matTooltip="settings">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Setting</button>
              <button mat-menu-item>Send feedback</button>
              <button mat-menu-item>App downloads</button>
              <button mat-menu-item>Keyboard Shortcuts</button>
            </mat-menu>
          </div>
        </div> -->
      </div>
      <div fxLayout="row">
        <!-- <div>
          <button mat-icon-button color="basic" fxHide.xs matTooltip="Notification">
            <mat-icon>notification_important</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button color="basic" matTooltip="Apps">
            <mat-icon>apps</mat-icon>
          </button>
        </div> -->
        <div >
          <button mat-icon-button [matMenuTriggerFor]="accountMenu">
            <img mat-card-avatar src="http://localhost:8080/getImage/{{token}}" />
          </button>
          <mat-menu #accountMenu="matMenu">
            <!-- <ng-template matMenuContent> -->
            <div class="example-car" class="">
              <!-- <mat-card> -->
                  <div mat-card-avatar matTooltip="Profile" class="profile" (click)="ProfileSelect()" fxLayout="row">
                      <img mat-card-avatar class="profile" src="http://localhost:8080/getImage/{{token}}" />
                      <span class="email">{{email}}</span>
                  </div>
                  <br>
                  <!-- </mat-card-header> -->
                  <mat-divider></mat-divider>
                  <br>
                  <!-- <mat-card-actions> -->
                    <div fxLayoutAlign="end end" class = "signou">
                        <button mat-raised-button (click)="signOut()">SignOut</button>
                    </div>
              <!-- </mat-card> -->
              <!-- <mat-card-header> -->
               
                
              <!-- </mat-card-actions> -->
            </div>
            <!-- </ng-template> -->
          </mat-menu>
          <!-- <button mat-mini-fab color="accent" [matMenuTriggerFor]="profileMenu">M</button> -->
        </div>
      </div>
      <div>
        <!-- <mat-menu #profileMenu="matMenu" class="profileMenu">
          <button mat-menu-item>
            <div>
              <button mat-mini-fab color="accent">M</button>
              <span class="name">Mohit Kumar</span>
            </div>
          </button>
          <mat-divider></mat-divider>
          <div fxLayoutAlign="center center">
            <button mat-menu-item (click)="signOut()">Sign out</button>
          </div>
        </mat-menu> -->
      </div>
    </mat-toolbar>
  </div>
  <mat-divider></mat-divider>

  <!-- Side-Menu-Display -->

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="navList">
        <mat-list role="list">
         
          <div  [ngClass]="titleName=='Note'?'active':'deActive'">
            <mat-list-item  class="list-color" role="listitem"  routerLink="/dashboard/note"  (click)="Note()">
              <img id="img1" src="../../../assets/noteImg.svg" />
              <span class="notes">Notes</span>
            </mat-list-item>
          </div>
          <div [ngClass]="titleName=='Reminder'?'active':'deActive'">
            <a mat-list-item class="list-color" role="listitem"   routerLink="/dashboard/display-remainder" (click)="Remainder()">
              <img id="img2" src="../../../assets/remainder.svg" />
              <span class="remainders">Remainders</span>
            </a>
          </div>
          <mat-divider></mat-divider>
          <div>
            <p class="para">LABELS</p>
            <div [ngClass]="item.labelId==labelId?'active':'deActive'" *ngFor="let item of label" class="label">
              <a mat-list-item class="list-color" role="listitem"  (click)="labelNote(item.labelId,item)">
                <img id="img1" src="../../../assets/label.svg" />
                <span class="notes">{{item.name}}</span>
              </a>
              <!-- <button mat-button>{{item.name}}</button> -->
            </div>
            <div [ngClass]="titleName=='EditLable'?'active':'deActive'">
              <a mat-list-item class="list-color" role="listitem"  (click)="editLabels()">
                <img id="img2" src="../../../assets/editLabel.svg" />
                <span class="labels">Edit labels</span>
              </a>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div [ngClass]="titleName=='Archive'?'active':'deActive'">
            <a mat-list-item class="list-color" role="listitem"  routerLink="/dashboard/display-archive" (click)="archive()">
              <img id="img3" src="../../../assets/archive.svg" />
              <span class="archive">Archive</span>
            </a>
          </div>
          <div [ngClass]="titleName=='Trash'?'active':'deActive'">
            <a mat-list-item  class="list-color" role="listitem"  routerLink="/dashboard/display-trash" (click)="trash()">
              <img id="img3" src="../../../assets/trash.svg" />
              <span class="trash">Trash</span>
            </a>
          </div>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>